.extract-metadata {
    text-align: left;
    margin: 0 0.5rem;
}

.extract-metadata .value {
    font-family: monospace;
}

.extract-metadata .error {
    color: red;
}

.extract-metadata .source {
    list-style-type: none;
}

.extract-metadata .regex {
    list-style-type: none;
}
