.load-metadata {
    text-align: left;
    margin: 0 0.5rem;
}

.load-metadata .value {
    font-family: monospace;
}

.load-metadata .error {
    color: red;
}

.load-metadata .file {
    list-style-type: none;
}
