legend {
    font-weight: bold;
    text-align: start;
}

.cycles-controls {
    margin-bottom: 2rem;
    width: fit-content;
}

.cycles-controls form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title {
    margin: 0 0.5rem;
    grid-column: 1 / -1;
}

.cycle-scope-controls {
    margin: 0 0.5rem;
    grid-column: 1 / -1;
}

.regex {
    display: grid;
    grid-template-columns: 9ch auto;
    row-gap: 0.25rem;
    margin-top: 0.5rem;
}

.cycle-length-controls {
    margin: 0 0.5rem;
    grid-column: 1 / -1;
}

.cycle-length-control {
    margin: 0 0.5rem;
}

.cycles-controls .footnote {
    font-size: smaller;
    margin: 0 0.5rem;
    text-align: left;
}

.blue {
    background-color: #ccccff;
}

.submit {
    margin: 1rem;
    grid-column: 1 / -1;
}
