legend {
    font-weight: bold;
    text-align: start;
}

.closure-controls {
    margin-bottom: 2rem;
    width: fit-content;
}

.closure-controls form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title {
    margin: 0 0.5rem;
    grid-column: 1 / -1;
}

.start-controls {
    margin-left: 0.5rem;
}

.regex {
    display: grid;
    grid-template-columns: 9ch auto;
    row-gap: 0.25rem;
    margin-top: 0.5rem;
}

.stop-controls {
    margin-right: 0.5rem;
}

.depth-controls {
    margin: 0 0.5rem;
    grid-column: 1 / -1;
}

.depth-control {
    margin: 0 0.5rem;
}

.scope-controls {
    margin-left: 0.5rem;
    margin-top: 1rem;
}

.filter-controls {
    margin-right: 0.5rem;
    margin-top: 1rem;
}

.blue {
    background-color: #ccccff;
}

.submit {
    margin: 1rem;
    grid-column: 1 / -1;
}
